{% extends 'nav/nav_bar.html' %}

{% block content %}
    <div class="container">
    <h2>Friends List</h2>
      {% if request.user.is_authenticated %}
        {% for friend in friend %}
            <div class="col s12 m6">
                <div class="card horizontal">
                <div class="card-image">
                <img src="{{ friend.profile.image.url }}" width="165" height="165">
                </div>
            <div class="card-stacked">
            <div class="card-content">
            <div id="profile-text" >
            <p>Username: {{ friend.username }}</p>
            <p>E-mail: {{ friend.email }}</p>
            <p>Gender: {{ friend.profile.gender }}</p>
            <p>Phone: {{ friend.profile.phone }}</p>
             </div>
        </div>
        <div class="card-action">
          <a href="{% url 'app:profile' id=friend.id %} "><button class="btn waves-effect waves-light">Enter Profile</button></a>
                        <a href="{% url 'app:follow_friend' operation='unsubscribe_friend' id=friend.id %}">
                        <button class="btn waves-effect waves-light red lighten-1">Unsubscribe</button></a>
        </div>
      </div>
    </div>
  </div>

        {% endfor %}
    {% endif %}
    </div>
{% endblock %}