{% extends 'nav/include.html' %}

{% block navbar %}
    <nav>
        <div class="nav-wrapper">
            <div id="nav_bar" class="row">
                <!-- title -->
                <div class="col s4">
                    <a href="{% url 'app:index' %}">Re-Reddit</a>
                </div>
                <!-- search bar -->
                <div id="search_bar" class="col s4">
                    <form action="/result/" method="get" id="searchform">
                        <div class="input-field">
                            <input id="search" type="search" name="searchbox" value="{{ request.GET.searchbox }}"
                                   required>
                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
                <div class="col s4">
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li>
                            <!-- Switch -->
                            <div id="dark-switch" class="switch">
                                <label>
                                    Night Shift
                                    <input type="checkbox" onclick="toggle_dark_mode()">
                                    <span class="lever"></span>
                                </label>
                            </div>
                        </li>
                        {% if request.session.is_login %}
                            <!-- user button -->
                            <li>
                                <a id="portrait-container"
                                   class="btn btn-large waves-effect waves-light white dropdown-trigger"
                                   data-target="dropdown-user" coverTrigger="false">
                                    {% if user.profile.image %}
                                        <img id="portrait" src="{{ user.profile.image.url }}">
                                    {% else %}
                                        <img id="portrait" src="\static\icon\test-portrait.png">
                                    {% endif %}
                                </a>
                            </li>
                        {% else %}
                            <!-- login button -->
                            <li><a class="waves-effect waves-light" href="#login-modal" onclick="login_button_click()">LOG
                                IN</a></li>
                            <!-- signup button -->
                            <li><a class="waves-effect waves-light btn" href="{% url 'app:signup' %}">SIGN UP</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Popup login Modal Structure -->
    <div id="login-modal" class="modal">
        <div class="modal-content">
            <!-- username -->
            <form class="col s12 site-form" action="/login/" method="post" onsubmit="return on_login_submit()">
                {% csrf_token %}
                <div class="row">
                    <a class="btn-floating btn-small waves-effect waves-teal red right" onclick="login_modal_close()"><i
                            class="material-icons close">close</i></a>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate" required>
                        <label for="username">Username</label>
                        <span class="helper-text" data-error="Your username cannot be empty" data-success="right"></span>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="Your password cannot be empty" data-success="right"></span>
                    </div>
                </div>
                <!-- alert info -->
                <div id="login-alert" class="row col s12">
                    <div class="col s12">
                        <span class="red-text text-darken-2">password or username is empty! please enter another and try again.</span>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12">
                        <a id="l-forgot" class="waves-effect waves-light btn-flat">forgot password?</a>
                        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
    {% if request.session.is_login %}
        <!-- Dropdown Structure -->
        <ul id="dropdown-user" class="dropdown-content">
            <li><a href="{% url 'app:profile' id=request.user.id%}">Profile</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a id="user-logout" href="{% url 'app:logout' %}">logout</a></li>
        </ul>
    {% endif %}
{% endblock %}

