html,body{
    height: 100%;
}

/************************************dark mode**********************************************************/

body.dark-mode{
    background-color: #212121;
}

body.dark-mode nav{
    background-color: black;
}

body.dark-mode h6{
    color: #9e9e9e !important;
}

body.dark-mode h5{
    color: #9e9e9e !important;
}

body.dark-mode h4{
    color: #9e9e9e !important;
}

body.dark-mode h3{
    color: #9e9e9e !important;
}

body.dark-mode h2{
    color: #9e9e9e !important;
}

body.dark-mode h1{
    color: #9e9e9e !important;
}

body.dark-mode p{
    color: #9e9e9e !important;
}

body.dark-mode a{
    color: #9e9e9e !important;
}


body.dark-mode label{
    color: #9e9e9e;
}

body.dark-mode span{
    color: #9e9e9e;
}

body.dark-mode .btn{
    color: #9e9e9e !important;
    background-color: #424242 !important;
}
body.dark-mode .btn:hover{
    background-color: #616161 !important;
}
body.dark-mode .btn:focus{
    background-color: #757575 !important;
}

body.dark-mode .btn-flat{
    color: #9e9e9e !important;
    background-color: #424242 !important;
}
body.dark-mode .btn-flat:hover{
    background-color: #616161 !important;
}
body.dark-mode .btn-flat:focus{
    background-color: #757575 !important;
}

body.dark-mode .btn-floating{
    color: #9e9e9e !important;
    background-color: #424242 !important;
}
body.dark-mode .btn-floating:hover{
    background-color: #616161 !important;
}
body.dark-mode .btn-floating:focus{
    background-color: #757575 !important;
}


body.dark-mode #dark-switch lever:after{
    background-color: #ef6c00 !important;
}
body.dark-mode  #dark-switch lever:hover{
    background-color: #f57c00 !important;
}
body.dark-mode  #dark-switch lever:focus{
    background-color: #fb8c00 !important;
}
body.dark-mode  #dark-switch lever:active{
    background-color: #fb8c00 !important;
}

body.dark-mode .card-action a{
    color: #212121 !important;
}

/* label color */
body.dark-mode #dark-switch span {
    background-color: #212121 !important;
}

body.dark-mode #dark-switch span:after {
    background-color: #9e9e9e !important;
}

body.dark-mode .page-footer{
    background-color: #3e3e3e !important;
}

body.dark-mode .page-footer .footer-copyright{
    background-color: rgba(0, 0, 0, 0.18) !important;
}

body.dark-mode .card{
    background-color: #464646 !important;
}

body.dark-mode .dropdown-content{
    background-color: #525252 !important;
}

 body.dark-mode .sidenav{
     background-color: #4e4e4e !important;
 }

body.dark-mode .divider{
    background-color: #717171 !important;
}

body.dark-mode .card-panel{
    background-color: #505050 !important;
}

 body.dark-mode .indicator-item{
     background-color: #757575 !important;
 }

body.dark-mode .indicator-item.active{
    background-color: #2b2b2b !important;
}

/************************************light mode**********************************************************/
body.light-mode #dark-switch label{
    color: white;
}

.slider{
    overflow: hidden;
}

#true-body{
    padding-top: 60px;
}

@media only screen and (min-width: 993px){
    nav a.sidenav-trigger{
        display: block !important;
    }
}

#nav_head{
    position: absolute;
    z-index: 20;
}

#nav_bar{
    height: 100%;
    width: 100%;
    margin: 0
}

#search_bar{
    height: 100%;
}

#login-modal{
    height: auto;
    width: 500px;
    padding: 0;
}

#l-forgot{
    padding: 0px;
}

#signup-form{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#login-alert{
    display: none;
}

#login-alert .col{
    padding: 0px;
}

#err-icon{
    margin: auto;
    width: 500px;
}

#err-msg{
    text-align: center;
    margin: auto;
    width: 500px;
}

#progress{
    margin: 0px;
    bottom: 0px;
    position: absolute;
}

#portrait{
    width:45px;
    height:45px;
    border-radius:100%;
}

#portraitMedium{
    width:60px;
    height:60px;
    border-radius:100%;
}

#portraitBig{
    width:100px;
    height:100px;
    border-radius:100%;
}

#portrait-container{
    width: 55px;
    height: 55px;
    padding: 5px;
    border-radius:100%;
}

#dark-switch{
    margin-right: 5px;
    margin-left: 5px;
}

#profile-text{
    font-size:20px;
    font-family: Cambria;
}