<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script type="text/javascript">
		onload=function(){
			setInterval(go, 1000);
		};
		var x=3;
		function go(){
		x--;
			if(x>0){
			document.getElementById("sp").innerHTML=x+" seconds to go...";  //每次设置的x的值都不一样了。
			}else{
			location.href="/thread/"+{{ threadID }};
			}
		}
	</script>

</head>
<body>
Operation success!
Returning to thread {{ threadID }}, please wait...
<p id="sp"></p>
</body>
</html>